div#aeg1,#aeg2,#aeg3,#aeg4,#aeg5 .container {
    display: flex;
    background-color: DodgerBlue;
}

div#aeg1,#aeg2,#aeg3,#aeg4,#aeg5 .container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
}