div#mk table#kysitlus{
    border: 1pt solid #cbc5ee;
    width:80%;
    height: 180px;
    border-collapse: collapse;
    color: SteelBlue;
    text-align: left;
    margin-left: 10%;
}
div#mk table#kysitlus td{
    border: 3px double  #cbc5ee;
}
div#mk table#kysitlus td:nth-child(2){
    width:50%;
}
div#mk{

}
div#mk{
    text-align: center;
    color: SteelBlue;
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 5%;
}
div#mk input[type='button']{
    background-color: #cbc5ee;
    color: white;
    border: 2px solid white;
}
div#vk{

}
div#vk{
    text-align: center;
    color: SteelBlue;
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 5%;
}